.gelary{
margin-top: 150px;
}


.h1_left{
font-family: Montserrat;
font-size: 36px;
font-weight: 700;
line-height: 43.88px;
text-align: left;
color: #FF8A00;}
.p_left{
font-family: Montserrat;
font-size: 16px;
font-weight: 500;
line-height: 40px;
text-align: left;
color: #ffffff;}
.a_left{
font-family: Montserrat;
font-size: 14px;
font-weight: 500;
line-height: 40px;
text-align: left;
color: #FF8A00;}

.h1_right{
font-family: Montserrat;
font-size: 36px;
font-weight: 700;
line-height: 43.88px;
text-align: center;
color: #FF8A00;}
.p_right{
font-family: Montserrat;
font-size: 16px;
font-weight: 500;
line-height: 40px;
text-align: center;
color: #ffffff;}
.a_right{
font-family: Montserrat;
font-size: 14px;
font-weight: 500;
line-height: 40px;
text-align: center;
color: #FF8A00;}  



.card{
    display: flex;
    align-items: center;
    gap: 120px;
}

.content{
justify-self: center;
gap: 0px;
}
.h1_0{display: block;
font-family: Montserrat;
font-size: 36px;
font-weight: 700;
line-height: 43.88px;
text-align: left; 
color: #FF8A00;
width: 648px;
height: 132px;gap: 0px;

}
.p_0{display: block;
font-family: Montserrat;
font-size: 16px;
font-weight: 500;
line-height: 40px;
text-align: left; 
color: #ffffff;   
width: 665px;
height: 80px;
margin-left: 1173px;
margin-top: 50px;
gap: 0px;
}


.p_white{
font-family: Montserrat;
font-size: 18px;
font-weight: 700;
line-height: 21.94px;
text-align: center;  
color: #ffffff;}
.p_w{
font-family: Montserrat;
font-size: 14px;
font-weight: 500;
line-height: 40px;
text-align: center;
color: #ffffff;}
.black_div{
background: black;
width: 100%;
height: 250px;
padding: 100px;
padding-bottom: 100px;}
.black{
width: 100%;
height: 250px;
padding: 100px;
padding-bottom: 100px;}


.h1_b {
font-family: Montserrat;
font-size: 36px;
font-weight: 700;
line-height: 43.88px;
text-align: left; 
color: #FF8A00;
text-align: center;}
.p_b{
font-family: Montserrat;
font-size: 14px;
font-weight: 500;
line-height: 40px;
text-align: left; 
color: #ffffff;
text-align: center;   }


.btn_EXPLORE{
font-family: Montserrat;
font-size: 14px;
font-weight: 700;
line-height: 28px;
text-align: left; 
background: #0E0E0E;  
color: #FF8A00;
border: 1px solid #FF8A00;
width: 203px;
height: 61px;
top: 7314px;
left: 858px;
gap: 0px;
border-radius: 8px;
opacity: 0px;
text-align: center;
margin-left: 44%;
margin-top: 50px;}
.img_1{
width: 100%;
margin-top: 50px;
margin-bottom: 100px;}
.img_2{
width: 100%;}
.img_3{
width: 100%;}



footer{
    background: #000000;}
.h3_f{
font-family: Montserrat;
font-size: 36px;
font-weight: 700;
line-height: 43.88px;
text-align: left;
color: #FFFFFF;}
.h2_footer{
font-family: Montserrat;
font-size: 16px;
font-weight: 500;
line-height: 19.5px;
text-align: left;
color: #ffffff;}



























/*
.second_img{
max-width:  950px;
width: 100%;
}
.second_h1{
font-family: Montserrat;
font-size: 36px;
font-weight: 700;
line-height: 43.88px;
text-align: left;    
color: #FF8A00;

}
.second_p{
font-family: Montserrat;
font-size: 14px;
font-weight: 500;
line-height: 40px;
text-align: left;
color: #ffffff;

}
.second_a{
font-family: Montserrat;
font-size: 14px;
font-weight: 500;
line-height: 40px;
text-align: left;    
color: #FF8A00;

}



.third_img{
max-width:  950px;
width: 100%;
}
.third_h1{
font-family: Montserrat;
font-size: 36px;
font-weight: 700;
line-height: 43.88px;
text-align: left;
color: #FF8A00;
}
.third_p{
font-family: Montserrat;
font-size: 14px;
font-weight: 500;
line-height: 40px;
text-align: left;    
color: #ffffff;
}
.btn_see{
font-family: Montserrat;
font-size: 14px;
font-weight: 700;
line-height: 28px;
text-align: left; 
border: rgb(255, 255, 255) 3px;   
border-radius: 9px;
background: #FF8A00;
color: #FFFFFF;
}*/